@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: hsl(207, 44%, 79%);
    background-color: hsl(225, 60%, 5%);
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textArea{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    justify-content: center;
    max-height: 20rem;
}
.units{
    text-decoration: underline;
    display: inherit;
    justify-content: center;
    
}
.dropdown{
    max-width: 35rem;
}
h2{
    
    margin: 0px 15vw 0px;
}
.inputs{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 0 0.5rem;
}

h1{
    text-align: center;
    margin: 2rem;
    font-size: 4rem;
}

input{
    border-radius: 1rem;
    height: 10rem;
    outline: none;
    border: 3px solid hsl(207, 44%, 100%);
    color: hsl(207, 44%, 79%);
    box-shadow: 0 0 2rem hsl(207, 44%, 79%);
    font-size: 40px;
    background-color: hsl(225, 60%, 5%);
}
.dropdown{
    
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 18px;
}
select, button{
    font-size: 16px;
    border-radius: 10px;
    background-color: hsl(207, 44%, 79%);
    color: hsl(225, 60%, 5%);
    border-radius: 5rem;
}
option{
    color: hsl(225, 60%, 5%);
}
select{
    width: 75%;
    padding: 0.5rem;
}
 button{
    width: 25%;
    padding: 0 1.5rem;
    text-align: center;
    margin: 0px 5px 0px;
    
} 
button:hover{
    cursor: pointer;
    background-color: red;
    box-shadow: 0 0 3rem red;
}

@media (max-width:500px) {
    .inputs{
        flex-direction: column;
    }
}
